<!-- <dx-data-grid
    id="gridCKS_SharetDirectorDealingsDataSource"
    [dataSource]="CKS_SharetDirectorDealingsDataSource"
    [remoteOperations]="true"
    [height]="300"
    [showBorders]="true"
    [columnAutoWidth]="true"
>
<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>
<dxo-group-panel [visible]="false"></dxo-group-panel>
<dxo-scrolling mode="virtual"></dxo-scrolling>
<dxo-selection mode="single"></dxo-selection>
<dxo-grouping [autoExpandAll]="false"></dxo-grouping>

<dxi-column 
    dataField="ID" 
    caption="ID"
    dataType="long"
    [allowEditing]="false">
</dxi-column>

<dxi-column 
    dataField="ShareCode" 
    caption="Share Code"
    dataType="string"
    [allowEditing]="false">
</dxi-column>
<dxi-column
    dataField="CompanyFullName"
    caption="Company Full Name"
    dataType="string"
    [allowEditing]="false">
</dxi-column>

<dxi-column
    dataField="DirectorInitials"
    caption="Director Initials"
    allowResizing="true"
    dataType="string"
    [allowEditing]="false">
</dxi-column>
<dxi-column
    dataField="DirectorLastName"
    caption="Director Last Name"
    dataType="string"
    [allowEditing]="false">
</dxi-column>

<dxi-column
    dataField="Price"
    caption="Price"
    dataType="number"
    [allowEditing]="false">
</dxi-column>
<dxi-column
    dataField="Volume"
    caption="Volume"
    dataType="number"
    [allowEditing]="false">
</dxi-column>
<dxi-column
    dataField="TransactionDate"
    caption="Transaction Date"
    dataType="date"
    [allowEditing]="false">
</dxi-column>

<dxi-column
    dataField="TransactionDescription"
    caption="TransactionDescription"
    dataType="string"
    [allowEditing]="false">
</dxi-column>
</dx-data-grid> -->
